{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ config.SITENAME }}{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>{{ message }}</strong>
			</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<p class="text-center"><img src="{{ url_for('static', filename='images/exploits_of_a_mom.png') }}" alt="xkcd" class="img-thumbnail"></p>
	<div class="caption">
		<p class="text-center">cc-by-nc <a href="https://xkcd.com/327/">xkcd</a></p>
	</div>
</div>
{% endblock %}
